<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @expertise.description %>
</p>


<%= link_to 'Edit', edit_user_expertise_path(@expertise.user, @expertise) %> |
<%= link_to 'Back', user_expertises_path(@expertise.user) %>
